/**
 * The builtin column class CSS file for Genesis Columns Advanced. 
 * This file can be disabled using the gca_load_column_styles filter.
 *
 * Width: 100%
 * Gutter: 2.5641025641%
 * Link: http://www.nickdiego.com/plugins/genesis-columns-advanced/
 ----------------------------------------------------------------------------- */


/* Column Classes
--------------------------------------------- */

.five-sixths,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.5641025641%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948718%;
}

.one-third,
.two-sixths {
	width: 31.6239316239%;
}

.four-sixths,
.two-thirds {
	width: 63.2478632479%;
}

.one-fourth {
	width: 23.0769230769%;
}

.three-fourths {
	width: 69.2307692308%;
}

.one-fifth {
	width: 17.9487179487%;
}

.two-fifths {
	width: 35.8974358974%;
}

.three-fifths {
	width: 53.8461538462%;
}

.four-fifths {
	width: 71.7948717949%;
}

.one-sixth {
	width: 14.5299145299%;
}

.five-sixths {
	width: 72.6495726496%;
}

.first {
	clear: both;
	margin-left: 0;
}


/* Media Queries
--------------------------------------------- */

@media only screen and (max-width: 800px) {

	.five-sixths,
	.four-fifths,
	.four-sixths,
	.one-fifth,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fifths,
	.three-fourths,
	.three-sixths,
	.two-fifths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}
	
}


/* Utility Classes
--------------------------------------------- */

.clearfix:before {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
	content: " ";
	display: table;
}

.vertical-spacer {
	clear: both;
	margin-bottom: 30px;
}

.columns-container {
	clear: both;
	overflow: hidden;
}

.column-clear {
	clear:both;
	display:block;
	font-size:0; 
	height:0;
	line-height:0;
	overflow: hidden;
	width:100%;
}
